<% let scheme = site.customConfig.scheme; %>
<footer id="footer" <% if (scheme !== 'lens') {%>class="panel"<% } %>>
    <% if (scheme === 'lens') {%>
    <ul class="icons">
        <% if (pagination.prev) { %>
        <li><a href="<%= pagination.prev %>" class="icon solid fa-angle-left"></a></li>
        <% } %>
        <% if (pagination.next) { %>
        <li><a href="<%= pagination.next %>" class="icon solid fa-angle-right"></a></li>
        <% } %>
    </ul>
    <ul class="copyright">
        <li><%= themeConfig.siteName %></li><li> 由 <a href="https://html5up.net">HTML5 UP</a> 设计样式。</li>
    </ul>
    <% } else {%>
    <div class="inner split">
        <div>
            <section>
                <h2>关于</h2>
                <p><%- themeConfig.siteDescription %></p>
            </section>
            <section>
                <h2>求订阅我的...</h2>
                <ul class="icons">
                    <% ['github', 'twitter', 'weibo', 'zhihu', 'facebook'].forEach((item) => { %>
                        <% if (site.customConfig[item]) { %>
                            <li><a href="<%= site.customConfig[item] %>" class="icon brands fa-<%= item %>"><span class="label"><%= item %></span></a></li>
                        <% } %>
                    <% }) %>
                </ul>
            </section>
            <p class="copyright"><%- themeConfig.footerInfo %></p>
        </div>
    </div>
    <% } %>
</footer>